.sidebar {
  position: fixed;
  height: 100%;
  width: 16%;
  background: #11101d;
  padding: 15px 15px 15px 5px;
  z-index: 909;
}
.logo {
  font-size: 1.7vw;
  margin: 0px;
  white-space: nowrap;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}
.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.submenu-active .menu-items {
  transform: translateX(-60%);
  margin-left: 2%;
}
.menu-title {
  color: #fff;
  font-size: 2vw;
  white-space: nowrap;
  margin-left: 1%;
  padding: 5px 0px;
}
.item a,
.submenu-item {
  padding-left: 2%;
  font-size: 2vw;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5%;
}
.item i {
  font-size: 2vw;
}
.submenu-item {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  justify-content: space-between;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 16%);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.navbar,
.main,
.main-1 {
  left: 16%;
  width: calc(100% - 16%);
  transition: all 0.5s ease;
  z-index: 10000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main,
.sidebar.close ~ .main-1 {
  left: 0;
  width: 100%;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: solid white 0.2vh;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1% 1%;
  background: #4070f4;
}
.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  z-index: 1000;
  top: 0px;
  background-color: white;
  padding-top: 3vh;
  height: 100%;
  height: 100vh;
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
  transition: all 0.3s ease-in-out;
}

#sidebar-close .bar:nth-child(2) {
  transform: translateX(15%);
}

#sidebar-close.open .bar:nth-child(2) {
  transform: translateX(0px);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: roboto;
}

.div-body {
  display: inline-block;
  width: 100%;
  position: relative;
  font-family: roboto;
  margin: 0px;
  padding: 0px;
  z-index: 1000000;
  background-color: white;
}

body {
  margin: 0px;
  font-family: roboto;
  position: relative;
  height: 100%;
  height: 100vh;
}

.container{
  justify-content: center;
  display: flex;
  padding: 3% 2%;
  padding-right: 0px;
  padding-bottom: 0px;
  z-index: 10000;
  overflow: hidden;
  padding-bottom: 1%;
}

.container-2{
  padding: 1% 3%;
  z-index: 10000;
  background-color: white;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  margin-top: 3%;
}

.title-1 {
  display: flex;
  font-size: 3vw;
  color: black;
  padding: 2% 0px;
  padding-left: 1.5%;
  width: 100%;
  background-color: rgb(83, 99, 238);
}

.title-2 {
  display: flex;
  font-size: 2.3vw;
  white-space: nowrap;
  color: black;
  padding-top: 2.5%;
  padding-left: 1.5%;
  width: 100%;
  background-color: rgb(83, 99, 238);
}

.title-3 {
  display: flex;
  font-size: 2.15vw;
  white-space: nowrap;
  color: black;
  padding: 2% 0px;
  padding-left: 1.5%;
  width: 100%;
  background-color: rgb(83, 99, 238);
}

.title-4 {
  display: flex;
  font-size: 1.8vw;
  white-space: nowrap;
  color: black;
  padding-top: 2.5%;
  padding-left: 1.5%;
  width: 100%;
  background-color: rgb(83, 99, 238);
}

.text {
  font-size: 2.1vw;
  padding-top: 10%;
  padding-bottom: 10%;
  height: 100%;
  width: 60%;
  text-align: center;
}

.text-1 {
  font-size: 1.7vw;
  background-color: white;
  height: 100%;
}

.poza {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.poza-marime {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  opacity: 0.9;
  position: relative;
  right: -1%;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 5%;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: white;
}

.container-1 p {
  font-size: 1.7vw;
  text-align: center;
  border-top: dotted black;
  border-bottom: dotted black;
  padding: 5%;
}

.option {
  margin-left: 2%;
  margin-right: 2%;
  flex: 1fr;
  width: 30%;
}

.marime-poza {
  width: 100%;
  height: 100%;
  object-fit:fill;
  max-height: 500px;
  padding-bottom: 3%;
  aspect-ratio: 1/2;
}

.marime-poza-1 {
  width: 100%;
  height: 100%;
  object-fit:fill;
  max-height: 500px;
  padding-top: 3%;
  aspect-ratio: 1/2;
}

.container-1 #jos {
  font-size: 1.7vw;
  text-align: center;
  border-bottom: dotted black;
}

.enunt {
  margin-left: 5%;
}
